{{define "title"}}Credit - Product{{end}}

{{define "main"}}
    <div>
        {{ with .Product }}
            <h2>{{ .Name }}</h2>

            <div>
                <div>{{ .PartnerName }}</div>
            </div>

            <div>
                <p>{{ .Description }}</p>
                <p>Price: <strong>{{ priceComma .Price }}</strong></p>
            </div>

            <div>
                <a href='/catalogs/{{ .ID }}/buy'>Beli Product</a>
            </div>
        {{ end }}
    </div>

    <br /><br />
{{end}}