{{define "title"}}Dashboard{{end}}

{{define "main"}}
    <div>
        <ul>
            <li><a href='/dashboard'>Dashboard</a></li>
            <li><a href='/logout'>Logout</a></li>
        </ul>
    </div>
{{end}}